$color-primario: #F19C79;
$color-secundario: #D4E09B;
$color-terciario: #CBDFBD;
$color-letras: black;

$iconos-grandes: 50px;
$iconos-medianos: 30px;
$iconos-chicos: 20px;

$tablet: 768px;
$desktop: 1200px;

$espacio-extrachico: 5px;
$espacio-chico: 10px;
$espacio-mediano: 20px;
$espacio-grande: 30px;
$espacio-extragrande: 40px;

$fuente-titulos: 'Montserrat', sans-serif;
$fuente-cuerpo: 'Lora', serif;

$fuente-grande: 700;
$fuente-mediana: 400;

